
<%- include("partials/header.ejs") %>
<div class="form-signin w-100 m-auto container createpost">
    <center>
            <form method="post" action="/create">
                <h1 class="h3 mb-3 fw-normal">Create New Post</h1>
            
                <div class="form-floating col-6">
                    <input type="text" class="form-control"name="Category" >
                    <label for="Category">Category </label>
                </div>
                <div class="form-floating col-6">
                    <input type="text" class="form-control"  name="Title">
                    <label for="Title">Title</label>
                </div>
                <div class="form-floating col-6">
                    <input type="text" class="form-control"  name="Content">
                    <label for="Content">Content</label>
                </div>
                <div class="form-floating col-6">
                    <input type="text" class="form-control" name="Image Url">
                    <label for="ImageUrl">Image Url</label>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary w-100 py-2 col-6" type="submit">Post</button>
                </div>
            </form>
    </center>
</div>

<%- include("partials/footer.ejs") %>